@import './mainContent.scss';

@mixin button_base {
	width: 100%;
	align-self: center;
	visibility: hidden;
}

@mixin grid_columns {
	display: grid;
	grid-template-columns: 50px repeat(6, 1fr) 50px 50px;
}

.inventory {
	position: relative;
}

.inventory__description {
	@include grid_columns;
	position: absolute;
	width: 100%;
	background-color: var(--main-shade);
	height: 50px;
	padding: 0;
	li {
		list-style-type: none;
		margin: 10px 5px;
		display: flex;
		align-items: center;
		justify-content: center;
		font-weight: bold;
		font-family: var(--main-font);
	}
}

.inventory__itemContainer {
	height: 100%;
	width: 100%;
	padding-top: 45px;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.527);
	.inventory__addIcon {
		color: rgba(0, 255, 127, 1);
	}
}

.cardItem {
	@include grid_columns;
	background-color: var(--main-text);
	border-radius: 3px;
	padding: 0;
	width: 100%;
	margin: 5px auto;
	transition: all 100ms ease-in-out;
	input {
		text-align: center;
		border: none;
		border-radius: 5px;
		box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.23);
		margin: 10px 5px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		font-family: var(--main-font);
	}
	.carditem__editButton {
		@include button_base;
		:hover {
			color: rgb(0, 174, 255);
		}
	}
	.carditem__deleteButton {
		@include button_base;
		:hover {
			color: rgb(240, 51, 51);
		}
	}
	.carditem__saveButton {
		@include button_base;
		:hover {
			color: rgb(0, 174, 255);
		}
	}
	.carditem__saleButton {
		@include button_base;
		:hover {
			color: rgb(6, 207, 6);
		}
	}
}
.cardItem:hover {
	background-color: rgb(214, 214, 214);
	.carditem__editButton,
	.carditem__saveButton,
	.carditem__deleteButton,
	.carditem__saleButton {
		visibility: visible;
	}
}

.cardItem.active {
	background-color: rgb(214, 214, 214);
	.carditem__editButton,
	.carditem__saveButton,
	.carditem__deleteButton,
	.carditem__saleButton {
		visibility: visible;
	}
}

.costAnalysis {
	position: absolute;
	height: 50px;
	bottom: 0;
	left: 0;
	right: 0;
	background: linear-gradient(
		261deg,
		rgba(0, 255, 127, 1) 0%,
		rgba(0, 92, 44, 1) 100%
	);

	.cost {
		grid-area: cost;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		align-items: center;
		h4 {
			margin: 0 30px;
		}
	}
}

.addCard {
	position: absolute;
	background-color: white;
	border-radius: 10px;
	top: 10%;
	left: 20%;
	height: 60vh;
	width: 30vw;

	.addCard__title {
		display: flex;
		align-items: center;
		height: 10%;
		font-family: var(--main-font);
		background-color: rgb(255, 144, 144);
	}
}

.addCard__form {
	border: 2px solid green;
	height: 90%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 20px;
	div {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		margin: 0;
	}
	.addCard__formFooter {
		display: flex;
		background-color: rgba(228, 228, 228, 0.644);
	}
}
