.sidebar {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	width: 15%;
	height: 100%;
	border: 1px solid var(--main-text);
	border-radius: 3px;
	h3 {
		font-family: var(--main-font);
		color: var(--main-shade);
		align-self: flex-start;
		margin: 10px 20px;
	}
}

.sideOption {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 90%;
	margin: 0 auto;
	color: var(--main-text);
	font-family: var(--main-font);
	font-size: 10px;
	transition: all 100ms ease-in;
	border-radius: 30px;
}
.sideOption:hover {
	background-color: var(--main-text);
	color: var(--main-shade);
}
.sidebar__icon {
	font-size: 100px !important;
	color: var(--main-shade);
}

.sideOption > * {
	margin: 12px;
}
